# ==========================================
# Frontend (Next.js) Environment Variables
# ==========================================

# ---> Base urls
APP_BASE_URL=http://localhost:3000
NEXT_PUBLIC_API_BASE_URL=/api/v1

# ---> Next auth secret
AUTH_SECRET=

# ---> Google secret
AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_SECRET=

# ---> Github secret
AUTH_GITHUB_CLIENT_ID=
AUTH_GITHUB_SECRET=

# ==========================================
# Backend (Express) Environment Variables
# ==========================================

PORT=3331
HOST_NAME=127.0.0.1

# ---> Database credentials.
MONGO_DB_URL=

# ---> jwt secrets.
JWT_SECRET=

# ---> SMTP Email credentials.
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=

# ---> Cloudinary credentials.
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
